* {
  box-sizing: border-box;
  transition: 0.2s;
}
html {
  font-size: 10px;
}
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.2s;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
sup {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  vertical-align: revert;
}
input,
textarea {
  font-size: 1.4rem;
  color: #3b3b36;
}
